<div class="notification-dropdown onhover-show-div">
    <div class="dropdown-title">
        <h6>Notifications</h6>
        <a href="javascript:void(0)" [routerLink]="['/property/favourites']">Show all</a>
    </div>
    <ul>
        <li *ngFor="let data of notificationData">
            <div class="media">
                <div class="icon-notification bg-primary-light">
                    <i class="fa fa-bell"></i>
                </div>
                <div class="media-body">
                    <h6>{{ data.title }}</h6>
                    <span>{{ data.time }}</span>
                    <p class="mb-0">{{ data.message }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
