<div class="property-box" *ngIf="listing">
    <div class="property-image">
        <div class="property-slider">
            <owl-carousel-o [options]="Options">
                <ng-container *ngFor="let image of listing.property.images">
                    <ng-template carouselSlide *ngIf="isImageType(image.imageUrl)">
                        <div class="property-slider">
                            <a href="javascript:void(0)" class="bg-size" [style.background-image]="'url('+image.imageUrl+')'">
                                <img [src]="image.imageUrl" class="bg-img" alt="property-image" style="display: none;" />
                            </a>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>


        <div class="labels-left">
            <ng-container *ngFor="let label of listing.listingState">
                <div *ngIf="label === 'REJECTED'" >
                    <span class="label label-dark">Rejected</span>
                </div>
                <div *ngIf="label === 'APPROVED'" >
                    <span class="label label-success">Approved</span>
                </div>
                <div *ngIf="label === 'PENDING'">
                    <span class="label label-shadow">Pending</span>
                </div>
            </ng-container>
        </div>

        <div class="seen-data">
            <app-feather-icons [icon]="'camera'"></app-feather-icons>
            <span>{{ listing.property.images.length }}</span>
        </div>

        <div class="overlay-property-box">
            <a href="javascript:void(0)" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                <app-feather-icons [icon]="'shuffle'"></app-feather-icons>
            </a>
            <a class="delete-button" (click)="changePropertyLabel(listing.listingId)" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit">
                <app-feather-icons [icon]="'edit'"></app-feather-icons>
            </a>
            <a href="javascript:void(0)" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="Wishlist">
                <app-feather-icons [icon]="'heart'"></app-feather-icons>
            </a>
        </div>
    </div>

    <div class="property-details">
        <span class="font-roboto">{{ listing.property.address.addressCountry }}</span>
        <a href="javascript:void(0)">
            <h3>{{ listing.title }}</h3>
        </a>
        <h6>${{ listing.price | number: '1.2-2' }}*</h6>
        <p class="font-roboto light-font">{{ listing.description }}</p>
        <ul>
            <li><img src="assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : {{ listing.property.propertyBedrooms }}</li>
            <li><img src="assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : {{ listing.property.propertyBathrooms }}</li>
            <li><img src="assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : {{ listing.property.propertySurface }}</li>
        </ul>
        <div class="property-btn d-flex">
            <span>{{ listing.listingCreationDate | date }}</span>
            <button type="button" class="btn btn-dashed btn-pill color-2">Details</button>
        </div>
    </div>
</div>
