.property-box {
  position: relative; // Ensure the delete button is positioned relative to this container

  .delete-button {
    position: absolute;
    top: 10px; // Adjust as needed
    right: 10px; // Adjust to place it on the right
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; // Adjust the size as needed
    color: #ff7873; // Lighter red color // Adjust the color as needed
  }

  .delete-button:hover {
    color: #d33; // Change color on hover
  }

  /* Add styles for the edit button */
  .edit-button {
    position: absolute;
    top: 10px; // Adjust as needed
    right: 40px; // Adjust to place it next to the delete button, increase the value to move it more to the left
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; // Adjust the size as needed
    color: #6cb2eb; // // Blue color
  }

  .edit-button:hover {
    color: #0056b3; // Change color on hover
  }

  .agent-image {
    // Existing styles for agent-image
  }

  .bg-size {
    // Existing styles for bg-size
  }

  .bg-img {
    // Existing styles for bg-img
  }

  .label {
    // Existing styles for label
  }

  .agent-overlay {
    // Existing styles for agent-overlay
  }

  .overlay-content {
    // Existing styles for overlay-content
  }

  .agent-content {
    // Existing styles for agent-content
  }
}
