<span class="row" novalidate [formGroup]="myForm" (ngSubmit)="next()">
  <div class="form-group col-md-4 col-sm-6">
    <label>First name <span class="font-danger">*</span></label>
    <input type="text" class="form-control" [placeholder]="formOption == 'Add' || type == 'wizard' ? 'enter your name' : ''" [value]="formOption == 'Edit' ? firstName : ''" formControlName="first_name" [ngClass]="{ 'is-invalid' : (first_name?.touched || validate) && first_name?.errors && type == 'wizard' , 'is-valid' : !first_name?.errors && type == 'wizard'}">
  </div>
  <div class="form-group col-md-4 col-sm-6">
    <label>Last name <span class="font-danger">*</span></label>
    <input type="text" class="form-control" [placeholder]="formOption == 'Add' || type == 'wizard' ? 'enter your surname' : lastName" [value]="formOption == 'Edit' ? lastName : ''" formControlName="last_name" [ngClass]="{ 'is-invalid' : (last_name?.touched || validate) && last_name?.errors && type == 'wizard' , 'is-valid' : !last_name?.errors && type == 'wizard'}">
  </div>
  <!-- <div class="form-group col-md-4 col-sm-6">
    <label>Gender <span class="font-danger">*</span></label>
    <select class="form-control" formControlName="gender" [ngClass]="{ 'is-invalid' : (gender?.touched || validate) && gender?.errors && type == 'wizard' , 'is-valid' : !gender?.errors && type == 'wizard'}">
      <option value="">Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div> -->
  <div class="form-group col-sm-6" [ngClass]="{ 'col-md-4' : type != 'wizard'}">
    <label>Phone number <span class="font-danger">*</span></label>
    <input type="number" class="form-control" [placeholder]="formOption == 'Add' || type == 'wizard' ? 'enter your mobile number' : phoneNumber" [value]="formOption == 'Edit' ? phoneNumber : ''" minlength="10" maxlength="10" formControlName="phone" [ngClass]="{'is-invalid' : validate && phone?.errors && type == 'wizard', 'is-valid' : !phone?.errors && type == 'wizard'}">
  </div>
  <div class="form-group col-sm-6" [ngClass]="{ 'col-md-4' : type != 'wizard'}">
    <label>Date of birth <span class="font-danger">*</span></label>
    <input class="form-control" [placeholder]="formOption == 'Add' ? '18/1/2000' : dob" [value]="formOption == 'Edit' ? dob : ''" id="datepicker" type="date" formControlName="date" [ngClass]="{'is-invalid' : validate && date?.errors && type == 'wizard', 'is-valid' : !date?.errors && type == 'wizard'}"/>
  </div>
  @if(email){
    <div class="form-group col-md-4 col-sm-6">
      <label>Email Address <span class="font-danger">*</span></label>
      <input type="email" class="form-control" [placeholder]="formOption == 'Add' || type == 'wizard' ? 'enter your email' : emailAddress" [value]="formOption == 'Edit' ? emailAddress : ''">
    </div>
  }

  <div class="form-group col-md-4 col-sm-6">
    <label>User Type <span class="font-danger">*</span></label>
    <!-- <select class="form-control" formControlName="gender" [ngClass]="{ 'is-invalid' : (gender?.touched || validate) && gender?.errors && type == 'wizard' , 'is-valid' : !gender?.errors && type == 'wizard'}"> -->
      <select class="form-control" formControlName="userType" (change)="onUserTypeChange($event)">
        
        <option value="">Select User Type</option>
        <option value="ADMIN">Admin</option>
        <option value="LANDLORD">Landlord</option>
        <option value="PROPERTY_SEEKER">Property Seeker</option>
    </select>
  </div>



<!-- Admin Specific Fields -->
<div *ngIf="userType === 'ADMIN'" class="form-group col-md-4 col-sm-6">
  <label>Department <span class="font-danger">*</span></label>
  <input type="text" class="form-control" formControlName="department">
</div>
<div *ngIf="userType === 'ADMIN'" class="form-group col-md-4 col-sm-6">
  <label>Role <span class="font-danger">*</span></label>
  <input type="text" class="form-control" formControlName="role">
</div>
<div *ngIf="userType === 'ADMIN'" class="form-group col-md-4 col-sm-6">
  <label>Super Admin <span class="font-danger">*</span></label>
  <input type="checkbox" class="form-control" formControlName="superAdmin">
</div>
<div *ngIf="userType === 'ADMIN'" class="form-group col-md-4 col-sm-6">
  <label>Access Level <span class="font-danger">*</span></label>
  <input type="number" class="form-control" formControlName="accessLevel">
</div>

<!-- Landlord Specific Fields -->
<div *ngIf="userType === 'LANDLORD'" class="form-group col-md-4 col-sm-6">
  <label>Property Type <span class="font-danger">*</span></label>
  <input type="text" class="form-control" formControlName="propertyType">
</div>
<div *ngIf="userType === 'LANDLORD'" class="form-group col-md-4 col-sm-6">
  <label>Number of Properties <span class="font-danger">*</span></label>
  <input type="number" class="form-control" formControlName="numberOfProperties">
</div>
<div *ngIf="userType === 'LANDLORD'" class="form-group col-md-4 col-sm-6">
  <label>Company <span class="font-danger">*</span></label>
  <input type="text" class="form-control" formControlName="company">
</div>
<div *ngIf="userType === 'LANDLORD'" class="form-group col-md-4 col-sm-6">
  <label>Active <span class="font-danger">*</span></label>
  <input type="checkbox" class="form-control" formControlName="active">
</div>
<div *ngIf="userType === 'LANDLORD'" class="form-group col-md-4 col-sm-6">
  <label>Rating <span class="font-danger">*</span></label>
  <input type="number" class="form-control" formControlName="rating">
</div>

<!-- Property Seeker Specific Fields -->
<div *ngIf="userType === 'PROPERTY_SEEKER'" class="form-group col-md-4 col-sm-6">
  <label>Desired Location <span class="font-danger">*</span></label>
  <input type="text" class="form-control" formControlName="desiredLocation">
</div>
<div *ngIf="userType === 'PROPERTY_SEEKER'" class="form-group col-md-4 col-sm-6">
  <label>Min Budget <span class="font-danger">*</span></label>
  <input type="number" class="form-control" formControlName="minBudget">
</div>
<div *ngIf="userType === 'PROPERTY_SEEKER'" class="form-group col-md-4 col-sm-6">
  <label>Max Budget <span class="font-danger">*</span></label>
  <input type="number" class="form-control" formControlName="maxBudget">
</div>
<div *ngIf="userType === 'PROPERTY_SEEKER'" class="form-group col-md-4 col-sm-6">
  <label>Preferred Property Type <span class="font-danger">*</span></label>
  <input type="text" class="form-control" formControlName="preferredPropertyType">
</div>
<div *ngIf="userType === 'PROPERTY_SEEKER'" class="form-group col-md-4 col-sm-6">
  <label>Notification Enabled <span class="font-danger">*</span></label>
  <input type="checkbox" class="form-control" formControlName="notificationEnabled">
</div>






























  @if(button){
    <div class="next-btn text-end col-sm-12">
      <button type="button" class="btn btn-gradient color-4 next1 btn-pill" (click)="next()">Next <i class="fas fa-arrow-right ms-2"></i></button>
    </div>
  } 

</span>

